@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean");

/* font

font-family: 'Nanum Gothic' ;

*/

html,
body {
    margin: 0px;
}
span,
em,
strong,
a {
    display: inline-block;
}
ul,
li {
    list-style-type: none;
}
em {
    font-style: normal;
}
a {
    color: #000;
    text-decoration: none;
}
img {
    font-size: 0;
    vertical-align: top;
    display: inline-block;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Nanum Gothic";
    font-size: 16px;
    line-height: 27px;
    color: #000;
    font-weight: normal;
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

/********** header **********/

    header {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(25, 30, 70, 0.8);
        z-index: 9999;
    }
header::before {
    content: "";
    width: 100%;
    height: 93px;
    background: #fff;
    display: block;
    position: absolute;
}
header .header_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 48px 0 94px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
header .header_box > a {
    transform: translateY(-30%);
}
header .header_box nav {
    height: 100%;
}
header .header_box nav .burger_menu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-100%);
    display: none;
}
header .header_box nav .burger_menu span {
    display: block;
    width: 40px;
    height: 5px;
    background: #000;
    border-radius: 50px;
}
header .header_box nav .burger_menu span:nth-of-type(1) {
}
header .header_box nav .burger_menu span:nth-of-type(2) {
    transform: translateY(100%);
}
header .header_box nav .burger_menu span:nth-of-type(3) {
    transform: translateY(200%);
}
header .header_box nav:hover .header_2depth {
    display: block;
}
header .header_box nav .header_1depth {
    height: 100%;
    display: flex;
}
header .header_box nav .header_1depth > li {
    text-align: center;
}
header .header_box nav .header_1depth > li > a {
    width: 100%;
    color: #333;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 94px;
    padding: 0 50px;
}
header .header_box nav .header_1depth > li > ul {
    display: none;
}
header .header_box nav:hover .header_1depth > li > ul {
    display: block;
}
.header_1depth > li > ul li a {
    font-size: 0.9375rem;
    color: #fff;
    line-height: 20px;
    margin: 25px 0;
    position: relative;
}
.header_1depth > li > ul li a::after {
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    display: block;
    transition: 0.5s;
    position: absolute;
    left: 50%;
    top: 110%;
}
.header_1depth > li > ul li a:hover::after {
    left: 0;
    width: 100%;
}
.header_1depth_m {
    display: none;
}
.header_1depth_m > li {
}
.header_1depth_m > li a {
}
.header_1depth_m > li ul {
}
.header_1depth_m > li ul li {
}
.header_1depth_m > li ul li a {
}
header .header_box .login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .header_box .login > a {
    display: block;
    color: #333;
    margin-right: 10px;
}
header .header_box .login > a i {
    font-size: 1.3rem;
    transform: translateY(10%);
    color: #192346;
}
header .header_box .login form {
    width: 151px;
    height: 27px;
    border: 2px solid #192346;
    display: flex;
    justify-content: space-between;
}
header .header_box .login input[type="text"] {
    width: 100%;
    border: none;
    margin-left: 5px;
    outline-style: none;
}
header .header_box .login form a {
    width: 25px;
    height: 23px;
    background: #192346;
    display: flex;
    justify-content: center;
    align-items: center;
}

/********** footer **********/

footer .foot01 {
    width: 100%;
    background: #344066;
}
footer .foot01 .flexbox {
    width: 66%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
footer .foot01 ul {
    position: relative;
}
footer .foot01 ul li {
    float: left;
    margin-right: 30px;
}
footer .foot01 ul li a {
    font-size: 0.9375rem;
    color: #fff;
    line-height: 50px;
    opacity: 0.7;
}
footer .foot01 ul li:hover a {
    opacity: 1;
}
footer .foot01 .flexbox .dropdown {
    position: relative;
}
footer .foot01 .flexbox .dropdown > a {
    font-size: 0.9375rem;
    color: #fff;
    line-height: 50px;
}

footer .foot01 .flexbox .dropdown > a em {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 100%;
    vertical-align: middle;
    margin: 0 0 2px 5px;
    text-align: center;
}
footer .foot01 .flexbox .dropdown > a em i {
    font-size: 0.9375rem;
    vertical-align: top;
    margin-top: 3px;
}
footer .foot01 .flexbox .dropdown .pop {
    width: 177px;
    height: 237px;
    background: #fff;
    border: 1px solid #333;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: -5px;
    z-index: 2;
}
footer .foot01 .flexbox .dropdown .pop a {
    font-size: 0.9375rem;
    padding-left: 5px;
    line-height: 30px;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
footer .foot01 .flexbox .dropdown .pop a:last-child {
    color: #000;
    line-height: 50px;
    border-bottom: none;
}
footer .foot01 .flexbox .dropdown .pop a em {
    width: 20px;
    height: 20px;
    background: #333;
    border-radius: 100%;
    vertical-align: middle;
    margin: 0 0 2px 5px;
    text-align: center;
}
footer .foot01 .flexbox .dropdown .pop a em i {
    color: #fff;
    vertical-align: top;
    margin-top: 3px;
}
footer .foot01 .flexbox .dropdown:hover .pop {
    display: flex;
}

footer .foot02 {
    width: 100%;
    background: #415185;
    padding: 38px 0;
}
footer .foot02 .flexbox {
    display: flex;
    flex-direction: column;
}
footer .foot02 .flexbox p {
    font-size: 0.875rem;
    color: #fff;
    opacity: 0.7;
    text-align: center;
}

@media (max-width: 1320px) {
    /********** header **********/

    header {
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        background: rgba(25, 30, 70, 0.8);
        z-index: 9999;
    }

    header::before {
        content: "";
        width: 100%;
        height: 93px;
        background: #fff;
        display: block;
        position: absolute;
    }
    header .header_box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 15px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
    header .header_box > a {
        transform: translateY(-30%);
    }
    header .header_box nav {
        height: 100%;
    }
    header .header_box nav .burger_menu {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-100%);
        display: none;
    }
    header .header_box nav .burger_menu span {
        display: block;
        width: 40px;
        height: 5px;
        background: #000;
        border-radius: 50px;
    }
    header .header_box nav .burger_menu span:nth-of-type(1) {
    }
    header .header_box nav .burger_menu span:nth-of-type(2) {
        transform: translateY(100%);
    }
    header .header_box nav .burger_menu span:nth-of-type(3) {
        transform: translateY(200%);
    }
    header .header_box nav:hover .header_2depth {
        display: block;
    }
    header .header_box nav .header_1depth {
        height: 100%;
        display: flex;
    }
    header .header_box nav .header_1depth > li {
        text-align: center;
    }
    header .header_box nav .header_1depth > li > a {
        width: 100%;
        color: #333;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 94px;
        padding: 0 3.2vw;
    }
    header .header_box nav .header_1depth > li > ul {
        display: none;
    }
    header .header_box nav:hover .header_1depth > li > ul {
        display: block;
    }
    .header_1depth > li > ul li a {
        font-size: 0.9375rem;
        color: #fff;
        line-height: 20px;
        margin: 25px 0;
        position: relative;
    }
    .header_1depth > li > ul li a::after {
        content: "";
        width: 0;
        height: 2px;
        background: #fff;
        display: block;
        transition: 0.5s;
        position: absolute;
        left: 50%;
        top: 110%;
    }
    .header_1depth > li > ul li a:hover::after {
        left: 0;
        width: 100%;
    }
    header .header_box .login {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .header_box .login > a {
        display: block;
        color: #333;
        margin-right: 10px;
    }
    header .header_box .login > a i {
        font-size: 1.3rem;
        transform: translateY(10%);
        color: #192346;
    }
    header .header_box .login form {
        width: 151px;
        height: 27px;
        border: 2px solid #192346;
        display: none;
        justify-content: space-between;
    }
    header .header_box .login input[type="text"] {
        width: 100%;
        border: none;
        margin-left: 5px;
        outline-style: none;
    }
    header .header_box .login form a {
        width: 25px;
        height: 23px;
        background: #192346;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /********** footer **********/

    footer {
        width: 100%;
    }
    footer .foot01 {
        display: none;
        width: 100%;
        background: #344066;
    }
    footer .foot01 .flexbox {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    footer .foot01 ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    footer .foot01 ul li {
    }
    footer .foot01 ul li a {
        font-size: 0.9375rem;
        color: #fff;
        line-height: 50px;
        opacity: 0.7;
    }
    footer .foot01 ul li:hover a {
        opacity: 1;
    }
    footer .foot01 .flexbox .dropdown {
        position: relative;
    }
    footer .foot01 .flexbox .dropdown > a {
        font-size: 0.9375rem;
        color: #fff;
        line-height: 50px;
    }

    footer .foot01 .flexbox .dropdown > a em {
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 100%;
        vertical-align: middle;
        margin: 0 0 2px 5px;
        text-align: center;
    }
    footer .foot01 .flexbox .dropdown > a em i {
        font-size: 0.9375rem;
        vertical-align: top;
        margin-top: 3px;
    }
    footer .foot01 .flexbox .dropdown .pop {
        width: 177px;
        height: 237px;
        background: #fff;
        border: 1px solid #333;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: -5px;
        z-index: 2;
    }
    footer .foot01 .flexbox .dropdown .pop a {
        font-size: 0.9375rem;
        padding-left: 5px;
        line-height: 30px;
        color: #000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    footer .foot01 .flexbox .dropdown .pop a:last-child {
        color: #000;
        line-height: 50px;
        border-bottom: none;
    }
    footer .foot01 .flexbox .dropdown .pop a em {
        width: 20px;
        height: 20px;
        background: #333;
        border-radius: 100%;
        vertical-align: middle;
        margin: 0 0 2px 5px;
        text-align: center;
    }
    footer .foot01 .flexbox .dropdown .pop a em i {
        color: #fff;
        vertical-align: top;
        margin-top: 3px;
    }
    footer .foot01 .flexbox .dropdown:hover .pop {
        display: flex;
    }

    footer .foot02 {
        width: 100%;
        background: #415185;
        padding: 38px 0;
    }
    footer .foot02 .flexbox {
        display: flex;
        flex-direction: column;
    }
    footer .foot02 .flexbox p {
        font-size: 0.875rem;
        color: #fff;
        opacity: 0.7;
        text-align: center;
    }
}
@media (max-width: 768px) {
    /********** header **********/

    header {
        width: 100%;
        height: 120px;
        position: relative;
        left: 0;
        top: 0;
        background: rgba(25, 30, 70, 0.8);
        z-index: 9999;
    }
    header::before {
        content: "";
        width: 100%;
        height: 120px;
        background: #fff;
        display: block;
        position: absolute;
    }
    header .header_box {
        width: 100%;
        height: 94px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 15px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
    header .header_box > a {
        transform: translateY(-160%) scale(0.8);
        position: absolute;
        right: 0;
        top: 100%;
    }
    header .header_box nav {
        height: 100%;
    }
    header .header_box nav .burger_menu {
        position: absolute;
        left: 0;
        top: 50%;
        width: 25px;
        height: 22px;
        transform: translateY(-100%);
        display: block;
        margin-left: 15px;
    }
    header .header_box nav .burger_menu span {
        display: block;
        width: 25px;
        height: 3px;
        background: #000;
        border-radius: 50px;
    }
    header .header_box nav .burger_menu span:nth-of-type(1) {
    }
    header .header_box nav .burger_menu span:nth-of-type(2) {
        transform: translateY(200%);
    }
    header .header_box nav .burger_menu span:nth-of-type(3) {
        transform: translateY(400%);
    }
    header .header_box nav:hover .header_2depth {
        display: block;
    }
    header .header_box nav .header_1depth {
        height: 100%;
        display: none;
    }
    header .header_box nav .header_1depth > li {
        text-align: center;
    }
    header .header_box nav .header_1depth > li > a {
        width: 100%;
        color: #333;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 94px;
        padding: 0 3.2vw;
    }
    header .header_box nav .header_1depth > li > ul {
        display: none;
    }
    header .header_box nav:hover .header_1depth > li > ul {
        display: block;
    }
    .header_1depth > li > ul li a {
        font-size: 0.9375rem;
        color: #fff;
        line-height: 20px;
        margin: 25px 0;
        position: relative;
    }
    .header_1depth > li > ul li a::after {
        content: "";
        width: 0;
        height: 2px;
        background: #fff;
        display: block;
        transition: 0.5s;
        position: absolute;
        left: 50%;
        top: 110%;
    }
    .header_1depth > li > ul li a:hover::after {
        left: 0;
        width: 100%;
    }
    .header_1depth_m {
        position: fixed;
        left: 0;
        top: 0;
        width: 50%;
        height: 100vh;
        background: #fff;
        display: none;
    }
    .header_1depth_m.on {
        position: fixed;
        left: 0;
        top: 0;
        width: 50%;
        height: 100vh;
        background: #fff;
        display: block;
    }
    .header_1depth_m::before {
        content: "";
        width: 50%;
        height: 100vh;
        display: block;
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        transform: translateX(100%);
    }
    .header_1depth_m > li {
        border-bottom: 1px solid #ccc;
    }
    .header_1depth_m > li:first-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
    }
    .header_1depth_m > li:first-of-type img {
        transform: scale(0.8);
    }
    .header_1depth_m > li:last-of-type {
        border-bottom: none;
        text-align: center;
    }
    .header_1depth_m > li:last-of-type a {
        width: 100px;
        line-height: 40px;
        margin: 10px auto 0;
        text-align: center;
        background: #192346;
        border-radius: 50px;
        color: #fff;
        display: inline-block;
    }
    .header_1depth_m > li:last-of-type a:hover {
        color: #ff0;
    }
    .header_1depth_m > li .exit {
        width: 30px;
        height: 30px;
        position: relative;
        margin-right: 20px;
        cursor: pointer;
    }
    .header_1depth_m > li .exit span {
        width: 30px;
        height: 1px;
        display: block;
        background: #000;
        position: absolute;
        left: 0;
        top: 70%;
    }
    .header_1depth_m > li .exit span:first-of-type {
        transform: rotate(45deg);
    }
    .header_1depth_m > li .exit span:last-of-type {
        transform: rotate(-45deg);
    }
    .header_1depth_m > li > a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
        width: 100%;
        line-height: 60px;
    }
    .header_1depth_m > li > a:hover {
        color: #f00;
    }
    .header_1depth_m > li > a .plus_minors {
        width: 15px;
        height: 15px;
        position: relative;
        cursor: pointer;
        margin-right: 10px;
    }
    .header_1depth_m > li > a .plus_minors span {
        width: 15px;
        height: 1px;
        display: block;
        background: #000;
        position: absolute;
        left: 0;
        top: 50%;
    }
    .header_1depth_m > li > a .plus_minors span.off {
        display: none;
    }
    .header_1depth_m > li > a .plus_minors span:first-of-type {
    }
    .header_1depth_m > li > a .plus_minors span:last-of-type {
        transform: rotate(90deg);
    }
    .header_1depth_m > li > a:hover {
        color: #f00;
    }
    .header_1depth_m > li ul {
        display: none;
    }
    .header_1depth_m > li ul.on {
        display: block;
    }
    .header_1depth_m > li ul li {
        border-bottom: 1px solid #333;
    }
    .header_1depth_m > li ul li a {
        width: 100%;
        background: #192346;
        color: #fff;
        padding: 8px 25px;
        font-size: 0.9rem;
    }
    .header_1depth_m > li ul li a:hover {
        color: #ff0;
    }
    header .header_box .login {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    header .header_box .login > a {
        display: none;
        color: #333;
        margin-right: 10px;
    }
    header .header_box .login > a i {
        font-size: 1.3rem;
        transform: translateY(10%);
        color: #192346;
    }
    header .header_box .login form {
        width: 100%;
        height: 27px;
        border: 2px solid #192346;
        display: flex;
        justify-content: space-between;
    }
    header .header_box .login input[type="text"] {
        width: 100%;
        border: none;
        margin-left: 5px;
        outline-style: none;
    }
    header .header_box .login form a {
        width: 25px;
        height: 23px;
        background: #192346;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /********** footer **********/

    footer {
        width: 100%;
    }
    footer .foot01 {
        display: none;
        width: 100%;
        background: #344066;
    }
    footer .foot01 .flexbox {
        width: 67%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    footer .foot01 ul {
        position: relative;
    }
    footer .foot01 ul li {
        float: left;
        margin-right: 30px;
    }
    footer .foot01 ul li a {
        font-size: 0.9375rem;
        color: #fff;
        line-height: 50px;
        opacity: 0.7;
    }
    footer .foot01 ul li:hover a {
        opacity: 1;
    }
    footer .foot01 .flexbox .dropdown {
        position: relative;
    }
    footer .foot01 .flexbox .dropdown > a {
        font-size: 0.9375rem;
        color: #fff;
        line-height: 50px;
    }

    footer .foot01 .flexbox .dropdown > a em {
        width: 20px;
        height: 20px;
        background: #fff;
        border-radius: 100%;
        vertical-align: middle;
        margin: 0 0 2px 5px;
        text-align: center;
    }
    footer .foot01 .flexbox .dropdown > a em i {
        font-size: 0.9375rem;
        vertical-align: top;
        margin-top: 3px;
    }
    footer .foot01 .flexbox .dropdown .pop {
        width: 177px;
        height: 237px;
        background: #fff;
        border: 1px solid #333;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        left: -5px;
        z-index: 2;
    }
    footer .foot01 .flexbox .dropdown .pop a {
        font-size: 0.9375rem;
        padding-left: 5px;
        line-height: 30px;
        color: #000;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    footer .foot01 .flexbox .dropdown .pop a:last-child {
        color: #000;
        line-height: 50px;
        border-bottom: none;
    }
    footer .foot01 .flexbox .dropdown .pop a em {
        width: 20px;
        height: 20px;
        background: #333;
        border-radius: 100%;
        vertical-align: middle;
        margin: 0 0 2px 5px;
        text-align: center;
    }
    footer .foot01 .flexbox .dropdown .pop a em i {
        color: #fff;
        vertical-align: top;
        margin-top: 3px;
    }
    footer .foot01 .flexbox .dropdown:hover .pop {
        display: flex;
    }

    footer .foot02 {
        width: 100%;
        background: #415185;
        padding: 38px 0;
    }
    footer .foot02 .flexbox {
        display: flex;
        flex-direction: column;
    }
    footer .foot02 .flexbox p {
        font-size: 0.875rem;
        color: #fff;
        opacity: 0.7;
        text-align: center;
    }
}
