@import url('common.css');
/* font-family: 'NanumSquare', sans-serif; */
/* font-family: 'Nanum Gothic', ; */

section article{
    height: 90vh;
    padding-top: 30vh;
    /* background: url(img/background.jpg) no-repeat center 57% / cover; */
    text-align: center;
    overflow: hidden;
    position: relative;
}
section article .fullscreen-bg__video{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    min-width:100%;
    min-height:100%;
    /* height: 100%;
    width: 177.77777778vh; 
    min-width: 100%;
    min-height: 56.25vw; 100 * 9 / 16 */
    z-index: -1;
}
section article h2{
    font-size: 3.75rem;
    font-weight: bolder;
    line-height: 3.5vw;
    color: #fff;
}
section article p{
    font-size:  1.625rem;
    color: #fff;
    padding-top: 30px;
}
section article .search{
    width: 868px;
    height: 73px;
    padding-top: 63px;
    background:#fff;
    position: relative;
    margin: 63px auto 0;
}
section article .search input{
    width: 780px;
    height: 73px;
    position: absolute;
    left:30px; top: 0;
    outline: none;
    outline-style: none;
    border: none;
    font-size: 1.375rem;
}
section .search input::placeholder{
    font-size: 1.375rem;
}
section article .search .fa-search{
    position: absolute;
    top: 25px; right: 30px;
    font-size: 1.5rem;
    color: rgba(0,0,0,0.3);
}

section article .tagbox ul{
    width: 440px;
    margin: 13px auto 0;
    display: flex;
    justify-content: space-around;
}
section article .tagbox li{
    background: rgba(255,255,255,0.8);
    margin: 5px 0;
    border-radius: 5px;
    font-size:  0.9375rem;
    font-weight: bold;
    transition: .5s;
}
section article .tagbox li:hover{
    background: rgba(255,255,255,1);
}
section article .tagbox li a{
    margin: 0 5px;
}
section article .tagbox li a:before{
    content: '#';
    font-size: 15px;
    font-weight: bold;
}


/* visual */

section .main{
    width: 100%;
    height: 451px;
    background: #eee;
    margin: 0 auto;
}
section .board{
    width: 1275px; height: 451px;
    background: #fff;
    position: relative;
    top: -125px;
    left: 50%;
    transform: translateX(-50%);
}
section .board nav{
    display: flex;
    justify-content: flex-start;
    background: #354067;
}
section .board nav a{
    display: block;
    line-height: 72px;
    font-size: 1.5rem;
    font-weight: bold;
    background: #354067;
    width: 270px;
    text-align: center;
    color:rgba(255,255,255,0.8);
}
section .board nav a:hover{
    color:rgba(255,255,255,1);
}
section .board nav a.selected{
    background: #fff;
    color:#354067;
}


section .boardContent{
    padding-top: 53px;
    overflow: hidden;
}
section .boardContent .leftbox{
    border-right: 1px solid #aaa;
    float: left;
    display: flex;
}
section .boardContent .leftbox a{
    padding: 0 23px;
}
section .boardContent .leftbox a img{
    border: 1px solid #ccc;
}
section .boardContent .leftbox .text{
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
section .boardContent .leftbox .text h2{
    width: 360px;
    font-size: 1.375rem;
    font-weight: bolder;
}
section .boardContent .leftbox .text p{
    font-size: 1.125rem;
}
p.date{
    color: #666;
}

section .boardContent .rightbox{
    margin: 0 26px;
    float:right;
    position: relative;
}
section .boardContent .rightbox > a{
    position: absolute;
    right: 0; top: 0;
    font-weight: bold;
}
section .boardContent .rightbox ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
}
section .boardContent .rightbox ul li{
    width: 496px;
    display: flex;
    justify-content: space-between;
}
section .boardContent .rightbox ul li a{
    width: 345px;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 46px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.8;
}
section .boardContent .rightbox ul li:hover a{
    opacity:1;
}
section .boardContent .rightbox ul li p{
    line-height: 46px;
}

/* boardcontent */

 .mainContent{
    width: 1275px;
    margin: 0 auto;
    padding: 90px 0;
    overflow: hidden;
}
.mainContent .leftbox{
    float: left;
}
.mainContent .leftbox ul{
    width: 404px;
    display: flex;
    flex-wrap:wrap;
}
.mainContent .leftbox ul li{
    width: 132px; height: 132px;
    border: 1px solid #ccc;
    background: #fff;
    margin-right: 4px;
    box-sizing: border-box;
    margin-bottom:4px;
    transition: background .5s;
}
.mainContent .leftbox ul li:nth-of-type(3n){
    margin-right: 0;
}
.mainContent .leftbox ul li a{
    width: 132px; height: 132px;
    padding: 22px 9px;
    position: relative;
}
.mainContent .leftbox ul li a p{
    font-size: 1.125rem;
    font-weight: bold;
}
.mainContent .leftbox ul li a img:nth-of-type(1){
    position: absolute;
    right: 22px; bottom: 9px;
    visibility: visible;
}
.mainContent .leftbox ul li a img:nth-of-type(2){
    position: absolute;
    right: 22px; bottom: 9px;
    visibility: hidden;
}
.mainContent .leftbox > a {
    width: 404px; height: 78px;
    background: #344066;
    color:#fff;
    text-align: center;
    line-height: 78px;
    opacity: 1;
}
.mainContent .leftbox ul li:hover{
    background:rgba(0,0,0,0.6);
}
.mainContent .leftbox ul li:hover a p{
    color: #fff;
}
.mainContent .leftbox ul li:hover img:nth-of-type(1){
    visibility: hidden;
}
.mainContent .leftbox ul li:hover img:nth-of-type(2){
    visibility: visible;
}
.mainContent .leftbox > a:hover{
    opacity: .9;
}

.mainContent .rightbox{
    float:right;
}
.mainContent .rightbox ul{
    width: 810px;
    height: 352px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.mainContent .rightbox ul li{
    margin-right:20px ;
    position: relative;
    animation: slide 15s linear infinite;
}
.mainContent .rightbox ul li:after{
    content: '';
    width: 100%; height: 100%;
    background: rgba(0,0,0,0);
    position: absolute;
    z-index: 2;
    top: 0; left: 0;
    transition: .5s;
}
.mainContent .rightbox ul li:hover:after{
    background: rgba(0,0,0,0.6);
}
.mainContent .rightbox ul li p{
    width: 90%;
    position: absolute;
    z-index: 3;
    top: 50%; left: 50%;
    transform: translate(-50%, -80%);
    color: #fff;
    font-size: 1.125rem;
    font-weight: bolder;
    line-height: 30px;
    text-align: center;
    opacity: 0;
    transition: .5s;
}
.mainContent .rightbox ul li:hover p{
    opacity: 1;
}
.mainContent .rightbox ul li a{
    width: 50%;
    position: absolute;
    z-index: 3;
    top: 70%; left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(255,255,255,0.6);
    color: #fff;
    font-size: 1.125rem;
    font-weight: bolder;
    line-height: 40px;
    text-align: center;
    opacity: 0;
    transition: .5s;
}
.mainContent .rightbox ul li:hover a{
    opacity: 1;
}

@keyframes slide{
    0%{left: 0;}
    100%{left: -135%;}
}

/* maincontent */

.banner{
    width: 1250px;
    margin: 20px auto;
}
.banner ul{
    display: flex;
    justify-content: space-between;
}
.banner ul li a img{
    transform: scale(1) ;
    transition: .5s;
}
.banner ul li:hover a img{
    transform: scale(1.1) 
}



@media (max-width:1024px){
    section article{
        height: 90vh;
        padding-top: 30vh;
        background: url(img/background.jpg) no-repeat center 80% / 180%;
        text-align: center;
        overflow: hidden;
        position: relative;
    }
    section article .fullscreen-bg__video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* height: 100%;
        width: 177.77777778vh; 
        min-width: 100%;
        min-height: 56.25vw; 100 * 9 / 16 */
        z-index: -1;
        display: none;
    }
    section article h2{
        font-size: 3rem;
        font-weight: bolder;
        line-height: 3.5vw;
        color: #fff;
    }
    section article p{
        font-size:  1.4rem;
        color: #fff;
        padding-top: 30px;
    }
    section article .search{
        width:80%;
        height: 73px;
        padding-top: 63px;
        background:#fff;
        position: relative;
        margin: 63px auto 0;
    }
    section article .search input{
        width: 100%;
        height: 73px;
        position: absolute;
        left:30px; top: 0;
        outline: none;
        outline-style: none;
        border: none;
        font-size: 1.375rem;
    }
    section .search input::placeholder{
        font-size: 1.375rem;
    }
    section article .search .fa-search{
        position: absolute;
        top: 25px; right: 30px;
        font-size: 1.5rem;
        color: rgba(0,0,0,0.3);
    }
    
    section article .tagbox ul{
        width: 440px;
        margin: 13px auto 0;
        display: flex;
        justify-content: space-around;
    }
    section article .tagbox li{
        background: rgba(255,255,255,0.8);
        margin: 5px 0;
        border-radius: 5px;
        font-size:  0.9375rem;
        font-weight: bold;
        transition: .5s;
    }
    section article .tagbox li:hover{
        background: rgba(255,255,255,1);
    }
    section article .tagbox li a{
        margin: 0 5px;
    }
    section article .tagbox li a:before{
        content: '#';
        font-size: 15px;
        font-weight: bold;
    }
    /* visual */
    
    section .main{
        width: 100%;
        height: 451px;
        background: #eee;
        margin: 0 auto;
    }
    section .board{
        width: 100%; height: 550px;
        background: #fff;
        position: relative;
        top: -125px;
        left: 50%;
        transform: translateX(-50%);
    }
    section .board nav{
        display: flex;
        justify-content: flex-start;
        background: #354067;
    }
    section .board nav a{
        display: block;
        line-height: 72px;
        font-size: 1.5rem;
        font-weight: bold;
        background: #354067;
        width: 270px;
        text-align: center;
        color:rgba(255,255,255,0.8);
    }
    section .board nav a:hover{
        color:rgba(255,255,255,1);
    }
    section .board nav a.selected{
        background: #fff;
        color:#354067;
    }
    
    
    section .boardContent{
        padding-top: 53px;
        overflow: hidden;
    }
    section .boardContent .leftbox{
        border-right: 1px solid #aaa;
        float: left;
        display: flex;
    }
    section .boardContent .leftbox a{
        padding: 0 23px;
        width: 20vh;
    }
    section .boardContent .leftbox a img{
        border: 1px solid #ccc;
        width: 100%;
    }
    section .boardContent .leftbox .text{
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    section .boardContent .leftbox .text h2{
        width: 100%;
        font-size: 1.375rem;
        font-weight: bolder;
    }
    section .boardContent .leftbox .text p{
        font-size: 1.125rem;
    }
    p.date{
        color: #666;
    }
    
    section .boardContent .rightbox{
        width: 90%;
        margin: 0 26px;
        float:right;
        position: relative;
    }
    section .boardContent .rightbox > a{
        position: absolute;
        right: 0; top: 0;
        font-weight: bold;
        display: none;
    }
    section .boardContent .rightbox ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 20px;
    }
    section .boardContent .rightbox ul li{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    section .boardContent .rightbox ul li a{
        width: 70%;
        font-size: 1.125rem;
        font-weight: bold;
        line-height: 46px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        opacity: 0.8;
    }
    section .boardContent .rightbox ul li:hover a{
        opacity:1;
    }
    section .boardContent .rightbox ul li p{
        line-height: 46px;
    }
    
    /* boardcontent */
    
     .mainContent{
        width: 100%;
        margin: 0 auto;
        padding: 90px 0;
        overflow: hidden;
    }
    .mainContent .leftbox{
        float: left;
        width: 50%;
    }
    .mainContent .leftbox ul{
        width: 100%;
        display: flex;
        flex-wrap:wrap;
    }
    .mainContent .leftbox ul li{
        width: 32%; height: 132px;
        border: 1px solid #ccc;
        background: #fff;
        margin-right: 4px;
        box-sizing: border-box;
        margin-bottom:4px;
        transition: background .5s;
    }
    .mainContent .leftbox ul li:nth-of-type(3n){
        margin-right: 0;
    }
    .mainContent .leftbox ul li a{
        width: 132px; height: 132px;
        padding: 22px 9px;
        position: relative;
    }
    .mainContent .leftbox ul li a p{
        font-size: 1.125rem;
        font-weight: bold;
    }
    .mainContent .leftbox ul li a img:nth-of-type(1){
        position: absolute;
        right: 22px; bottom: 9px;
        visibility: visible;
    }
    .mainContent .leftbox ul li a img:nth-of-type(2){
        position: absolute;
        right: 22px; bottom: 9px;
        visibility: hidden;
    }
    .mainContent .leftbox > a {
        width: 98%; height: 78px;
        background: #344066;
        color:#fff;
        text-align: center;
        line-height: 78px;
        opacity: 1;
    }
    .mainContent .leftbox ul li:hover{
        background:rgba(0,0,0,0.6);
    }
    .mainContent .leftbox ul li:hover a p{
        color: #fff;
    }
    .mainContent .leftbox ul li:hover img:nth-of-type(1){
        visibility: hidden;
    }
    .mainContent .leftbox ul li:hover img:nth-of-type(2){
        visibility: visible;
    }
    .mainContent .leftbox > a:hover{
        opacity: .9;
    }
    
    .mainContent .rightbox{
        float:right;
        width: 50%;
    }
    .mainContent .rightbox ul{
        width: 100%;
        height: 352px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    .mainContent .rightbox ul li{
        margin-right:20px ;
        position: relative;
        animation: slide 15s linear infinite;
    }
    .mainContent .rightbox ul li:after{
        content: '';
        width: 100%; height: 100%;
        background: rgba(0,0,0,0);
        position: absolute;
        z-index: 2;
        top: 0; left: 0;
        transition: .5s;
    }
    .mainContent .rightbox ul li:hover:after{
        background: rgba(0,0,0,0.6);
    }
    .mainContent .rightbox ul li p{
        width: 90%;
        position: absolute;
        z-index: 3;
        top: 50%; left: 50%;
        transform: translate(-50%, -80%);
        color: #fff;
        font-size: 1.125rem;
        font-weight: bolder;
        line-height: 30px;
        text-align: center;
        opacity: 0;
        transition: .5s;
    }
    .mainContent .rightbox ul li:hover p{
        opacity: 1;
    }
    .mainContent .rightbox ul li a{
        width: 50%;
        position: absolute;
        z-index: 3;
        top: 70%; left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid rgba(255,255,255,0.6);
        color: #fff;
        font-size: 1.125rem;
        font-weight: bolder;
        line-height: 40px;
        text-align: center;
        opacity: 0;
        transition: .5s;
    }
    .mainContent .rightbox ul li:hover a{
        opacity: 1;
    }
    
    @keyframes slide{
        0%{left: 0;}
        100%{left: -135%;}
    }
    
    /* maincontent */
    
    .banner{
        width: 90%;
        margin: 20px 0;
    }
    .banner ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .banner ul li{
        width: 10%;
    }
    .banner ul li a{
        width: 100%;
    }
    .banner ul li a img{
        transform: scale(.6) ;
        transition: .5s;
    }
    .banner ul li:hover a img{
        transform: scale(.7) 
    }

}

@media (max-width:768px){
    header {
        width: 100%;
        height: 8vh;
        position: relative;
        left: 0;
        top: 0;
        background: rgba(25, 30, 70, 0.8);
        z-index: 9999;
    }
    header::before {
        content: "";
        width: 100%;
        height: 8vh;
        background: #fff;
        display: block;
        position: absolute;
        box-shadow: rgba(0,0,0,0.3) 3px 0px 15px;
    }
    header .header_box {
        width: 100%;
        height: 94px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 15px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
    header .header_box > a {
        transform: translateY(-160%) scale(0.8);
        position: absolute;
        right: 0;
        top: 100%;
    }
    header .header_box .login form{
        display: none;
    }
    section article{
        height: 60vh;
        padding-top: 20vh;
        background: url(img/background.jpg) no-repeat center 80% / 180%;
        text-align: center;
        overflow: hidden;
        position: relative;
    }
    section article .fullscreen-bg__video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* height: 100%;
        width: 177.77777778vh; 
        min-width: 100%;
        min-height: 56.25vw; 100 * 9 / 16 */
        z-index: -1;
        display: none;
    }
    section article h2{
        font-size: 6.4vw;
        font-weight: bolder;
        line-height: 3vw;
        color: #fff;
        text-shadow: #111 2px 2px 5px;
    }
    section article p{
        font-size:  3vw;
        color: #fff;
        padding-top: 4vw;
        text-shadow: #354067 2px 0px 5px;
    }
    section article .search{
        width: 95%;
        height: 6vh;
        padding-top: 3vh;
        background:#fff;
        position: relative;
        margin: 2vh auto 0;
    }
    section article .search input{
        width: 90%;
        height: 6vh;
        position: absolute;
        left:30px; top: 0;
        outline: none;
        outline-style: none;
        border: none;
        font-size: 4vw;
    }
    section .search input::placeholder{
        font-size: 4vw;
    }
    section article .search .fa-search{
        position: absolute;
        top: 50%; right: 30px;
        transform: translateY(-50%);
        font-size:5vw;
        color: rgba(0,0,0,0.3);
    }
    
    section article .tagbox ul{
        width: 90%;
        margin: 13px auto 0;
        display: flex;
        justify-content: space-around;
    }
    section article .tagbox li{
        background: rgba(255,255,255,0.8);
        margin: 5px 0;
        border-radius: 5px;
        font-size:  0;
        font-weight: bold;
        transition: .5s;
    }
    section article .tagbox li:hover{
        background: rgba(255,255,255,1);
    }
    section article .tagbox li a{
        margin: 0 5px;
        font-size:  3vw;
    }
    section article .tagbox li a:before{
        content: '#';
        font-size: 3vw;
        font-weight: bold;
    }
    
    /* visual */
    
    section .main{
        width: 100%;
        height:90vw;
        background: #eee;
        margin: 0 auto;
        padding-top: 2vh;
    }
    section .board{
        width: 95%;
        height: 80vw;
        background: #fff;
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    section .board nav{
        display: flex;
        justify-content: flex-start;
        background: #354067;
    }
    section .board nav a{
        display: block;
        line-height: 5vh;
        font-size: 3vw;
        font-weight: bold;
        background: #354067;
        width: 270px;
        text-align: center;
        color:rgba(255,255,255,0.8);
    }
    section .board nav a:hover{
        color:rgba(255,255,255,1);
    }
    section .board nav a.selected{
        background: #fff;
        color:#354067;
    }
    
    
    section .boardContent{
        padding-top: 2vh;
        overflow: hidden;
    }
    section .boardContent .leftbox{
        border-right: 0px solid #aaa;
        float: left;
        display: flex;
    }
    section .boardContent .leftbox a{
        padding: 0 0 0 1vh;
        width: 30vh;
    }
    section .boardContent .leftbox a img{
        border: 1px solid #ccc;
        width: 100%;
    }
    section .boardContent .leftbox .text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    section .boardContent .leftbox .text h2{
        width: 100%;
        font-size: 4vw;
        font-weight: bolder;
        line-height: 6vw;
    }
    section .boardContent .leftbox .text p{
        font-size: 1.125rem;
        display: none;
    }
    p.date{
        color: #666;
    }
    
    section .boardContent .rightbox{
        margin: 0 1vh;
        float:left;
        position: relative;
    }
    section .boardContent .rightbox > a{
        position: absolute;
        right: 0; top: 0;
        font-weight: bold;
        font-size: 4vw;
        display: none;
    }
    section .boardContent .rightbox ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 2vh;
        padding-left: 2vh;
    }
    section .boardContent .rightbox ul li{
        width: 95%;
        display: flex;
        justify-content: space-between;
    }
    section .boardContent .rightbox ul li a{
        width: 90%;
        font-size: 3vw;
        font-weight: normal;
        line-height: 7vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        opacity: 0.8;
    }
    section .boardContent .rightbox ul li:hover a{
        opacity:1;
    }
    section .boardContent .rightbox ul li p{
        line-height: 46px;
    }
    section .boardContent .rightbox ul li p:nth-child(2){
        display: none;
    }
    /* boardcontent */
    
     .mainContent{
        width: 100%;
        margin: 0 auto;
        padding: 2vh 0;
        overflow: hidden;
        margin-left: 1vh;
    }
    .mainContent .leftbox{
        float: left;
        width: 100%;
    }
    .mainContent .leftbox ul{
        width: 98%;
        display: flex;
        flex-wrap:wrap;
    }
    .mainContent .leftbox ul li{
        width: 32%; height: 13vh;
        border: 1px solid #ccc;
        background: #fff;
        margin-right: 4px;
        box-sizing: border-box;
        margin-bottom:4px;
        transition: background .5s;
    }
    .mainContent .leftbox ul li:nth-of-type(3n){
        margin-right: 0;
    }
    .mainContent .leftbox ul li a{
        width: 100%; height: 100%;
        padding: 22px 9px;
        position: relative;
    }
    .mainContent .leftbox ul li a p{
        font-size: 3vw;
        font-weight:lighter;
    }
    .mainContent .leftbox ul li a img:nth-of-type(1){
        position: absolute;
        right: 3vw; bottom: 3vw;
        visibility: visible;
    }
    .mainContent .leftbox ul li a img:nth-of-type(2){
        position: absolute;
        right: 3vw; bottom: 3vw;
        visibility: hidden;
    }
    .mainContent .leftbox > a {
        width: 96%; height: 78px;
        background: #344066;
        color:#fff;
        text-align: center;
        line-height: 78px;
        opacity: 1;
    }
    .mainContent .leftbox ul li:hover{
        background:rgba(0,0,0,0.6);
    }
    .mainContent .leftbox ul li:hover a p{
        color: #fff;
    }
    .mainContent .leftbox ul li:hover img:nth-of-type(1){
        visibility: hidden;
    }
    .mainContent .leftbox ul li:hover img:nth-of-type(2){
        visibility: visible;
    }
    .mainContent .leftbox > a:hover{
        opacity: .9;
    }
    
    .mainContent .rightbox{
        width: 100%;
        float:left;
        padding-bottom: 3vh;
    }
    .mainContent .rightbox ul{
        width: 90%;
        height: 25vh;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    .mainContent .rightbox ul li{
        margin-right:1vh ;
        position: relative;
        animation: slide 15s linear infinite;
    }
    .mainContent .rightbox ul li:after{
        content: '';
        width: 100%; height: 100%;
        background: rgba(0,0,0,0);
        position: absolute;
        z-index: 2;
        top: 0; left: 0;
        transition: .5s;
    }
    .mainContent .rightbox ul li:hover:after{
        background: rgba(0,0,0,0.6);
    }
    .mainContent .rightbox ul li p{
        width: 90%;
        position: absolute;
        z-index: 3;
        top: 50%; left: 50%;
        transform: translate(-50%, -80%);
        color: #fff;
        font-size: 2vw;
        font-weight: bolder;
        line-height: 30px;
        text-align: center;
        opacity: 0;
        transition: .5s;
    }
    .mainContent .rightbox ul li:hover p{
        opacity: 1;
    }
    .mainContent .rightbox ul li a{
        width: 50%;
        position: absolute;
        z-index: 3;
        top: 70%; left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid rgba(255,255,255,0.6);
        color: #fff;
        font-size: 2vw;
        font-weight: bolder;
        line-height: 40px;
        text-align: center;
        opacity: 0;
        transition: .5s;
    }
    .mainContent .rightbox ul li img{
        height: 27vh;
    }
    .mainContent .rightbox ul li:hover a{
        opacity: 1;
    }
    
    @keyframes slide{
        0%{left: 0;}
        100%{left: -65%;}
    }
    
    /* maincontent */
    
    .banner{
        display: none;
        width: 1250px;
        margin: 20px auto;
    }
    .banner ul{
        display: flex;
        justify-content: space-between;
    }
    .banner ul li a img{
        transform: scale(1) ;
        transition: .5s;
    }
    .banner ul li:hover a img{
        transform: scale(1.1) 
    }
}

@media (max-width:480px){
    header {
        width: 100%;
        height: 8vh;
        position: relative;
        left: 0;
        top: 0;
        background: rgba(25, 30, 70, 0.8);
        z-index: 9999;
    }
    header::before {
        content: "";
        width: 100%;
        height: 8vh;
        background: #fff;
        display: block;
        position: absolute;
        box-shadow: rgba(0,0,0,0.3) 3px 0px 15px;
    }
    header .header_box {
        width: 100%;
        height: 94px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 15px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }
    header .header_box > a {
        transform: translateY(-160%) scale(0.8);
        position: absolute;
        right: 0;
        top: 100%;
    }
    header .header_box .login form{
        display: none;
    }
    section article{
        height: 60vh;
        padding-top: 20vh;
        background: url(img/background.jpg) no-repeat center 80% / 180%;
        text-align: center;
        overflow: hidden;
        position: relative;
    }
    section article .fullscreen-bg__video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* height: 100%;
        width: 177.77777778vh; 
        min-width: 100%;
        min-height: 56.25vw; 100 * 9 / 16 */
        z-index: -1;
        display: none;
    }
    section article h2{
        font-size: 6.4vw;
        font-weight: bolder;
        line-height: 3vw;
        color: #fff;
        text-shadow: #111 2px 2px 5px;
    }
    section article p{
        font-size:  3vw;
        color: #fff;
        padding-top: 4vw;
        text-shadow: #354067 2px 0px 5px;
    }
    section article .search{
        width: 95%;
        height: 6vh;
        padding-top: 3vh;
        background:#fff;
        position: relative;
        margin: 2vh auto 0;
    }
    section article .search input{
        width: 90%;
        height: 6vh;
        position: absolute;
        left:30px; top: 0;
        outline: none;
        outline-style: none;
        border: none;
        font-size: 4vw;
    }
    section .search input::placeholder{
        font-size: 4vw;
    }
    section article .search .fa-search{
        position: absolute;
        top: 50%; right: 30px;
        transform: translateY(-50%);
        font-size:5vw;
        color: rgba(0,0,0,0.3);
    }
    
    section article .tagbox ul{
        width: 90%;
        margin: 13px auto 0;
        display: flex;
        justify-content: space-around;
    }
    section article .tagbox li{
        background: rgba(255,255,255,0.8);
        margin: 5px 0;
        border-radius: 5px;
        font-size:  0;
        font-weight: bold;
        transition: .5s;
    }
    section article .tagbox li:hover{
        background: rgba(255,255,255,1);
    }
    section article .tagbox li a{
        margin: 0 5px;
        font-size:  3vw;
    }
    section article .tagbox li a:before{
        content: '#';
        font-size: 3vw;
        font-weight: bold;
    }
    
    /* visual */
    
    section .main{
        width: 100%;
        height:90vw;
        background: #eee;
        margin: 0 auto;
        padding-top: 2vh;
    }
    section .board{
        width: 95%;
        height: 80vw;
        background: #fff;
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    section .board nav{
        display: flex;
        justify-content: flex-start;
        background: #354067;
    }
    section .board nav a{
        display: block;
        line-height: 5vh;
        font-size: 4.5vw;
        font-weight: bold;
        background: #354067;
        width: 270px;
        text-align: center;
        color:rgba(255,255,255,0.8);
    }
    section .board nav a:hover{
        color:rgba(255,255,255,1);
    }
    section .board nav a.selected{
        background: #fff;
        color:#354067;
    }
    
    
    section .boardContent{
        padding-top: 2vh;
        overflow: hidden;
    }
    section .boardContent .leftbox{
        border-right: 0px solid #aaa;
        float: left;
        display: flex;
    }
    section .boardContent .leftbox a{
        padding: 0 0 0 1vh;
        width: 10vh;
    }
    section .boardContent .leftbox a img{
        border: 1px solid #ccc;
        width: 100%;
    }
    section .boardContent .leftbox .text{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    section .boardContent .leftbox .text h2{
        width: 100%;
        font-size: 5vw;
        font-weight: bolder;
        line-height: 6vw;
    }
    section .boardContent .leftbox .text p{
        font-size: 1.125rem;
        display: none;
    }
    p.date{
        color: #666;
    }
    
    section .boardContent .rightbox{
        margin: 0 1vh;
        float:left;
        position: relative;
    }
    section .boardContent .rightbox > a{
        position: absolute;
        right: 0; top: 0;
        font-weight: bold;
        font-size: 4vw;
        display: none;
    }
    section .boardContent .rightbox ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 2vh;
        padding-left: 2vh;
    }
    section .boardContent .rightbox ul li{
        width: 95%;
        display: flex;
        justify-content: space-between;
    }
    section .boardContent .rightbox ul li a{
        width: 345px;
        font-size: 4.5vw;
        font-weight: normal;
        line-height: 7vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        opacity: 0.8;
    }
    section .boardContent .rightbox ul li:hover a{
        opacity:1;
    }
    section .boardContent .rightbox ul li p{
        line-height: 46px;
    }
    section .boardContent .rightbox ul li p:nth-child(2){
        display: none;
    }
    /* boardcontent */
    
     .mainContent{
        width: 100%;
        margin: 0 auto;
        padding: 2vh 0;
        overflow: hidden;
        margin-left: 1vh;
    }
    .mainContent .leftbox{
        width: 100%;
        float: left;
    }
    .mainContent .leftbox ul{
        width: 98%;
        display: flex;
        flex-wrap:wrap;
    }
    .mainContent .leftbox ul li{
        width: 32%; height: 13vh;
        border: 1px solid #ccc;
        background: #fff;
        margin-right: 4px;
        box-sizing: border-box;
        margin-bottom:4px;
        transition: background .5s;
    }
    .mainContent .leftbox ul li:nth-of-type(3n){
        margin-right: 0;
    }
    .mainContent .leftbox ul li a{
        width: 100%; height: 100%;
        padding: 22px 9px;
        position: relative;
    }
    .mainContent .leftbox ul li a p{
        font-size: 4.5vw;
        font-weight:lighter;
    }
    .mainContent .leftbox ul li a img:nth-of-type(1){
        position: absolute;
        right: 3vh; bottom: 3vh;
        visibility: visible;
        display: none;
    }
    .mainContent .leftbox ul li a img:nth-of-type(2){
        position: absolute;
        right: 3vh; bottom: 3vh;
        visibility: hidden;
        display: none;
    }
    .mainContent .leftbox > a {
        width: 96%; height: 78px;
        background: #344066;
        color:#fff;
        text-align: center;
        line-height: 78px;
        opacity: 1;
    }
    .mainContent .leftbox ul li:hover{
        background:rgba(0,0,0,0.6);
    }
    .mainContent .leftbox ul li:hover a p{
        color: #fff;
    }
    .mainContent .leftbox ul li:hover img:nth-of-type(1){
        visibility: hidden;
    }
    .mainContent .leftbox ul li:hover img:nth-of-type(2){
        visibility: visible;
    }
    .mainContent .leftbox > a:hover{
        opacity: .9;
    }
    
    .mainContent .rightbox{
        width: 100%;
        float:left;
        padding-bottom: 3vh;
    }
    .mainContent .rightbox ul{
        width: 90%;
        height: 25vh;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    .mainContent .rightbox ul li{
        margin-right:1vh ;
        position: relative;
        animation: slide 15s linear infinite;
    }
    .mainContent .rightbox ul li:after{
        content: '';
        width: 100%; height: 100%;
        background: rgba(0,0,0,0);
        position: absolute;
        z-index: 2;
        top: 0; left: 0;
        transition: .5s;
    }
    .mainContent .rightbox ul li:hover:after{
        background: rgba(0,0,0,0.6);
    }
    .mainContent .rightbox ul li p{
        width: 90%;
        position: absolute;
        z-index: 3;
        top: 50%; left: 50%;
        transform: translate(-50%, -80%);
        color: #fff;
        font-size: 4vw;
        font-weight: bolder;
        line-height: 30px;
        text-align: center;
        opacity: 0;
        transition: .5s;
    }
    .mainContent .rightbox ul li:hover p{
        opacity: 1;
    }
    .mainContent .rightbox ul li a{
        width: 50%;
        position: absolute;
        z-index: 3;
        top: 70%; left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid rgba(255,255,255,0.6);
        color: #fff;
        font-size: 4vw;
        font-weight: bolder;
        line-height: 40px;
        text-align: center;
        opacity: 0;
        transition: .5s;
    }
    .mainContent .rightbox ul li img{
        height: 27vh;
    }
    .mainContent .rightbox ul li:hover a{
        opacity: 1;
    }
    
    @keyframes slide{
        0%{left: 0;}
        10%{left: 0;}
        45%{left:-31.5%}
        55%{left:-31.5%}
        90%{left: -63.7%}
        100%{left: -63.7%;}
    }
    
    /* maincontent */
    
    .banner{
        display: none;
        width: 1250px;
        margin: 20px auto;
    }
    .banner ul{
        display: flex;
        justify-content: space-between;
    }
    .banner ul li a img{
        transform: scale(1) ;
        transition: .5s;
    }
    .banner ul li:hover a img{
        transform: scale(1.1) 
    }
    
}

